@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CoStar</h1>
    <p>A place to save and edit important information related to becoming a software developer.</p>
    <p> In this first version, there are four categories available:</p>
    <ul class="list-group list-group-item w-50 p-3 text-center mx-auto">
        <li class="list-group-item">Software Principles&nbsp;<i class="fa fa-camera" title="Users can upload images"></i></li>
        <li class="list-group-item">Whiteboard Questions&nbsp;<i class="fa fa-camera" title="Users can upload images"></i></li>
        <li class="list-group-item">Interview Questions</li>
        <li class="list-group-item">Helpful Links</li>
    </ul>
    <p></p>
    <p> Please register or login to begin managing your own information decks on CoStar.</p>
    <p>The resource for all code images is <a href="https://dotnetfiddle.net/">.NET Fiddle</a>. Definitely go check them out!</p>
</div>
