@model CoStar.Models.ViewModels.PrincipleCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Principle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <p class="control-label">Upload a file using this form:</p>
                <input asp-for="PrincipleFileToSave"><br />
                <span asp-validation-for="PrincipleFileToSave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Principle.PrincipleName" class="control-label"></label>
                <input asp-for="Principle.PrincipleName" class="form-control" />
                <span asp-validation-for="Principle.PrincipleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Principle.PrincipleDescription" class="control-label"></label>
                <input asp-for="Principle.PrincipleDescription" class="form-control" />
                <span asp-validation-for="Principle.PrincipleDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
